@font-face {
  font-family: 'poppins-v5-latin-500';
  src: local('poppins-v5-latin-500'),
    url('../../../assets/fonts/poppins-v5-latin-500.ttf') format('opentype');
}

.Interest-modal-component-header {
  display: flex;
  flex-direction: row;
  width: 100%;
 
}
.Interest-modal-container-header {
  display: flex;
  flex-direction: row;

  min-width: 700px;
}
.Interest-modal-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0.5;
}

.Interest-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  font-family: 'poppins-v5-latin-500';
  font-size: 22px;
  color: #303f9f;
}
