.zammad-chat.zammad-chat-is-open .zammad-chat-header {
  background: #2196f3 !important;
  height: 40px !important;
}
.zammad-chat {
  right: 15px !important;
  width: 25em !important;
  height: 25.5em !important;
}
.zammad-chat-button {
  background: #379ad7 !important;
}
